*.conf
*.toml
*.dirs
*.locale
*.json
*.list
.gsd*
archlinux-tweak-tool
arcolinux-logo
ardour8
autostart
balena-etcher
chromium
conky
dconf
gcloud
gtk-3.0
nano
htop
Kvantum
JetBrains
pragha
pulse
pypswd
qtile3
sublime-text
Thunar
volumeicon
variety
VirtualBox
xfce4
neofetch
nvim
omf
rofi
Code - OSS