archlinux-tweak-tool
arcolinux*
ardour8
autostart
balena-etcher
chromium
conky
dconf
gcloud
gtk-3.0
nano
htop
Kvantum
JetBrains
pragha
pulse
pypswd
qtile3
sublime-text
Thunar
volumeicon
variety
VirtualBox
xfce4
neofetch
nvim
omf
rofi
Code - OSS
font*
galculator
nomacs
octopi
paru
qtile6
yay
.gsd*
hyfetch.json
mimeapps.list
QtProject.conf
Trolltech.conf
user-dirs.dirs
user-dirs.locale
yad.conf
qt5ct
libreoffice/4/user/pack/registrymodifications.pack
libreoffice/4/user/registrymodifications.xcu